// Styles

html, body, .wrapper {
  height: 100%;
}

body {
  background-color: #FFF;
  font-family: 'Lato', sans-serif;
}

.img {
  background-repeat: no-repeat;
  background-position: center center;
}

// Colors
$blue: #009CFF;

// ---------------
// Header
// ---------------

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #009CFF;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  z-index: 9;
  li {
    float: left;
  }
}

.logo {
  padding: 22px 12px;
  padding-left: 24px;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.toc, .stories, .get-involved {
  padding: 24px 12px;
  font-size: 12px;
  text-transform: uppercase;
  a {
    color: rgba(255,255,255,0.9);
  }
  i {
    font-size: 90%;
    padding: 0 8px;
  }
}

.get-involved {
  padding-right: 24px;
}

.right {
  float: right;
}

// ---------------
// Navigation Elements
// ---------------

// == Table of Contents ==

.toc {
  position: relative;
  &.open {
    background-color: #FFF;
    & > a {
      color: $blue;
    }
    ol {
      display: block;
    }
  }
  ol {
    list-style: decimal-leading-zero inside;
    padding: 16px 0;
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    width: 400px;
    background-color: #FFF;
    li {
      width: 100%;
      color: #777;
      padding: 12px 24px;
      text-transform: capitalize;
      &::marker {
        padding-right: 6px;
      }
    }
  }
}

// === Arrows ===

.arrow {
  // Variables

  $arrow-height: 40px;
  $arrow-padding: 5px;
  $arrow-width: 50px;

  // Style
  background-color: #F6F6F6;
  position: fixed;
  z-index: 7;
  padding: $arrow-padding 0;
  width: $arrow-width;
  height: $arrow-height;
  font-size: 40px;

  // Cases
  &.top {
    right: 20px;
    bottom: 80px;
  }

  &.bottom {
    right: 20px;
    bottom: 20px;
  }

  &:hover {

  }
}